$primary-bg-color:#5EC28F
$secondary-bg-color: #17918F
$third-bg-color: #2F4858

//Color-Palette
//https://mycolor.space/?hex=%235EC28F&sub=1

header
	nav
		background-color: $secondary-bg-color

header, footer
	background-color: $third-bg-color

.buttonShowMore
	background-color: $primary-bg-color

#carouselExampleSlidesOnly
	max-height: 300px
	.carousel-inner
		max-height: 300px

	img
		content-fit: cover
		overflow: hidden
		// margin: 0 auto

.carousel-caption
	background-color: rgba(94, 194, 143,0.3)
	position: absolute
	top: 0px


